body {
  color: #757575;
  background: #ffffff;
  font-family: "open sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #454545;
  font-family: "Nunito", sans-serif;
}

a {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  color: #fbaf32;
  transition: 0.3s;
}

a:hover,
a:active,
a:focus {
  color: #719a0a;
  outline: none;
  text-decoration: none;
}

.btn.custom-btn {
  padding: 12px 25px;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: #fbaf32;
  border: 2px solid #fbaf32;
  border-radius: 5px;
  transition: 0.5s;
}

.btn.custom-btn:hover {
  color: #fbaf32;
  background: transparent;
}

.btn.custom-btn:focus,
.form-control:focus,
.custom-select:focus {
  box-shadow: none;
}

.container-fluid {
  max-width: 1366px;
}

@media (min-width: 420px) {
  .navbar .navbar-brand span {
    font-size: 35px;
  }
  .navbar .container-fluid .navbar-brand {
    font-size: 35px;
  }
}

/* Chevron Up Btn Start */
.back-to-top {
  position: fixed;
  display: none;
  background: #fbaf32;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 22px;
  right: 15px;
  bottom: 15px;
  border-radius: 5px;
  transition: background 0.5s;
  z-index: 9;
}

.back-to-top i {
  color: #ffffff;
  padding-top: 10px;
}

.back-to-top:hover {
  background: #719a0a;
}
/* Chevron Up Btn End */

/* Navbar Start */
.navbar {
  position: relative;
  transition: 0.5s;
  z-index: 999;
}

.navbar.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar .navbar-brand {
  margin: 0;
  color: #fbaf32;
  font-size: 45px;
  line-height: 0px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  transition: 0.5s;
}

.navbar .navbar-brand span {
  color: #719a0a;
}

.navbar .navbar-brand:hover {
  color: #fbaf32;
}

.navbar .navbar-brand:hover span {
  color: #fbaf32;
}

.navbar .navbar-brand img {
  max-width: 100%;
  max-height: 40px;
}

.navbar .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #f8f9fa;
}

@media (min-width: 992px) {
  .navbar {
    position: absolute;
    width: 100%;
    padding: 30px 60px;
    background: transparent !important;
    z-index: 9;
  }

  .navbar.nav-sticky {
    padding: 10px 60px;
    background: #ffffff !important;
  }

  .navbar .navbar-brand {
    color: #fbaf32;
  }

  .navbar.nav-sticky .navbar-brand {
    color: #fbaf32;
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-nav .nav-link:focus {
    padding: 10px 10px 8px 10px;
    font-family: "Nunito", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
  }

  .navbar-light.nav-sticky .navbar-nav .nav-link,
  .navbar-light.nav-sticky .navbar-nav .nav-link:focus {
    color: #666666;
  }

  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link.active {
    color: #fbaf32;
  }

  .navbar-light.nav-sticky .navbar-nav .nav-link:hover,
  .navbar-light.nav-sticky .navbar-nav .nav-link.active {
    color: #fbaf32;
  }
}

@media (max-width: 991.98px) {
  .navbar {
    padding: 15px;
    background: #ffffff !important;
  }

  .navbar .navbar-brand {
    color: #fbaf32;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
  }

  .navbar a.nav-link {
    padding: 5px;
  }

  .navbar .dropdown-menu {
    box-shadow: none;
  }
}
/* Navbar End */

/* Carousal Start */
.carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  background: #ffffff;
}

.carousel .container-fluid {
  padding: 0;
}

.carousel .carousel-item {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carousel .carousel-img {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: right;
  overflow: hidden;
}

.carousel .carousel-img::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.carousel .carousel-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-text {
  position: absolute;
  max-width: 700px;
  height: calc(100vh - 35px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 2;
}

.carousel .carousel-text h1 {
  text-align: center;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.carousel .carousel-text h1 span {
  color: #fbaf32;
}

.carousel .carousel-text p {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  margin-bottom: 35px;
}

.carousel .carousel-btn .btn:last-child {
  margin-left: 10px;
  background: #719a0a;
  border-color: #719a0a;
}

.carousel .carousel-btn .btn:last-child:hover {
  color: #719a0a;
  background: transparent;
}

.carousel .animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@media (max-width: 991.98px) {
  .carousel,
  .carousel .carousel-item,
  .carousel .carousel-text {
    height: calc(100vh - 105px);
  }

  .carousel .carousel-text h1 {
    font-size: 35px;
  }

  .carousel .carousel-text p {
    font-size: 16px;
  }

  .carousel .carousel-text .btn {
    padding: 12px 30px;
    font-size: 15px;
    letter-spacing: 0;
  }
}

@media (max-width: 767.98px) {
  .carousel,
  .carousel .carousel-item,
  .carousel .carousel-text {
    height: calc(100vh - 70px);
  }

  .carousel .carousel-text h1 {
    font-size: 30px;
  }

  .carousel .carousel-text .btn {
    padding: 10px 25px;
    font-size: 15px;
    letter-spacing: 0;
  }
}

@media (max-width: 575.98px) {
  .carousel .carousel-text h1 {
    font-size: 25px;
  }

  .carousel .carousel-text .btn {
    padding: 8px 20px;
    font-size: 14px;
    letter-spacing: 0;
  }
}
/* Carousal End */

/* Page Header Start */
.page-header {
  position: relative;
  margin-bottom: 45px;
  padding: 150px 0 90px 0;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),
    url(../img/about.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header h2 {
  position: relative;
  color: #fbaf32;
  font-size: 60px;
  font-weight: 700;
}

.page-header a {
  position: relative;
  padding: 0 12px;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
}

.page-header a:hover {
  color: #ffffff;
}

.page-header a::after {
  position: absolute;
  content: "/";
  width: 8px;
  height: 8px;
  top: -1px;
  right: -7px;
  text-align: center;
  color: #fbaf32;
}

.page-header a:last-child::after {
  display: none;
}

@media (max-width: 767.98px) {
  .page-header h2 {
    font-size: 35px;
  }

  .page-header a {
    font-size: 18px;
  }
}
/* Page Header End */

/* Section Header Start*/
.section-header {
  position: relative;
  margin-bottom: 45px;
}

.section-header h2 {
  color: #719a0a;
  margin-bottom: 5px;
  position: relative;
  font-size: 20px;
}

.section-header h2 {
  margin: 0;
  position: relative;
  font-size: 45px;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .section-header h2 {
    font-size: 40px;
    font-weight: 600;
  }
}

@media (max-width: 767.98px) {
  .section-header h2 {
    font-size: 35px;
    font-weight: 600;
  }
}

@media (max-width: 575.98px) {
  .section-header h2 {
    font-size: 35px;
    font-weight: 600;
  }
}
/* Section Header End*/

/* Sucess Story + Feedback Start */
.booking {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  background: rgba(0, 0, 0, 0.04);
}

.booking .booking-content {
  padding: 45px 0 15px 0;
}

.booking .booking-content .section-header {
  margin-bottom: 30px;
}

.booking .booking-form {
  padding: 60px 30px;
  background: #fbaf32;
}

.booking .booking-form .control-group {
  margin-bottom: 15px;
}

.booking .booking-form .input-group-text {
  position: absolute;
  padding: 0;
  border: none;
  background: none;
  top: 15px;
  right: 15px;
  color: #ffffff;
  font-size: 14px;
}

.booking .booking-form .form-control {
  height: 45px;
  font-size: 14px;
  color: #ffffff;
  padding: 0 15px;
  border-radius: 5px !important;
  border: 1px solid #ffffff;
  background: transparent;
}

.booking .booking-form select.form-control {
  padding: 0 10px;
}

.booking .booking-form .form-control::placeholder {
  color: #ffffff;
  opacity: 1;
}

.booking .booking-form .form-control:-ms-input-placeholder,
.booking .booking-form .form-control::-ms-input-placeholder {
  color: #ffffff;
}

.booking .booking-form .input-group [data-toggle="datetimepicker"] {
  cursor: default;
}

.booking .booking-form .btn.custom-btn {
  width: 100%;
  color: #fbaf32;
  background: #ffffff;
  border: 1px solid #ffffff;
}

.booking .booking-form .btn.custom-btn:hover {
  color: #ffffff;
  background: transparent;
}
/* Sucess Story + Feedback End */

/* Mission vision Start */
.mission {
  height: 80px;
  margin-bottom: 1.5rem;
}
.food {
  position: relative;
  width: 100%;
  padding: 30px 0 25px 0;
  margin: 45px 0;
  background: rgba(0, 0, 0, 0.06);
}

.food .food-item {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  padding: 50px 30px 30px;
  text-align: center;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  cursor: pointer;
}

.food .food-item:hover {
  box-shadow: 5px 5px 10px 0px #bac3ca;
  transition: 0.3s;
  transform: scale(1.08);
}

.food-item > h2 {
  color: #719a0a;
}

@media screen and (max-width: 450px) {
  .food .food-item:hover {
    box-shadow: none;
    transform: none;
  }
}

.food .food-item i {
  position: relative;
  display: inline-block;
  color: #fbaf32;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.food .food-item:hover i {
  color: #719a0a;
}

.food .food-item i::after {
  position: absolute;
  content: "";
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  top: -20px;
  left: -15px;
  border: 3px dotted #fbaf32;
  border-right: transparent;
  border-bottom: transparent;
  border-radius: 100px;
  transition: 0.3s;
}

.food .food-item:hover i::after {
  border: 3px dotted #719a0a;
  border-right: transparent;
  border-bottom: transparent;
}

.food .food-item h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 1.2rem;
}

.food .food-item a {
  position: relative;
  font-size: 16px;
}

.food .food-item a::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 1px;
  bottom: 0;
  left: calc(50% - 25px);
  background: #fbaf32;
  transition: 0.3s;
}

.food .food-item a:hover::after {
  width: 100%;
  left: 0;
  background: #719a0a;
}
/* Mission vision End */

/* About Section Start */
.about-img-container {
  position: relative;
  width: 500px;
  height: 200px;
}
@media screen and (max-width: 450px) {
  .about-img-container {
    display: none;
  }
  .about-img-container:hover img {
    transform: none;
  }
}

.about-img-container img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease-in-out;
}

.about-img-container:hover img {
  transform: scale(1.2);
}

.about {
  position: relative;
  width: 100%;
  padding: 45px 0;
}

.about .section-header {
  margin-bottom: 30px;
  margin-left: 0;
}

.about .about-img {
  position: relative;
}

.about .about-img img {
  position: relative;
  width: 100%;
  border-radius: 15px;
}

.about .about-content {
  position: relative;
}

.about .about-text p {
  font-size: 16px;
}

.about .about-text a.btn {
  position: relative;
  margin-top: 5px;
}

@media (max-width: 991.98px) {
  .about .about-img {
    margin-bottom: 10px;
  }
}
/* About Section End */

/* Alumni Cards in index page Start */
.team {
  position: relative;
  width: 100%;
  padding: 20px 0 15px 0;
}

.team .team-item {
  position: relative;
  margin-bottom: 30px;
  background: #ffffff;
}
@media screen and (max-width: 450px) {
  .team .team-item {
    position: relative;
    margin-bottom: 30px;
    background: #ffffff;
    padding: 0 2rem 0 2rem;
  }
}

.team .team-img {
  position: relative;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}

.team .team-img img {
  position: relative;
  width: 100%;
  margin-top: 15px;
  transform: scale(1.1);
  transition: 0.3s;
}

.team .team-item:hover img {
  margin-top: 0;
  margin-bottom: 15px;
}

.team .team-social {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.team .team-social a {
  position: relative;
  margin: 0 3px;
  margin-top: 100px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  font-size: 16px;
  color: #ffffff;
  background: #719a0a;
  opacity: 0;
}

.team .team-social a:hover {
  color: #ffffff;
  background: #fbaf32;
}

.team .team-item:hover .team-social {
  background: rgba(256, 256, 256, 0.5);
}

.team .team-item:hover .team-social a:first-child {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0s;
}

.team .team-item:hover .team-social a:nth-child(2) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.1s;
}

.team .team-item:hover .team-social a:nth-child(3) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.2s;
}

.team .team-item:hover .team-social a:nth-child(4) {
  opacity: 1;
  margin-top: 0;
  transition: 0.3s 0.3s;
}

.team .team-text {
  box-shadow: inset 0 0 5px 5px rgba(169, 169, 169, 0.2);
  position: relative;
  padding: 25px 15px;
  text-align: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.07);
  border-top: none;
  border-radius: 0 0 15px 15px;
}

.team .team-text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #719a0a;
}

.team .team-text p {
  margin: 0;
  font-size: 16px;
}
/* Alumni Cards in index page End */

/* Testimonial Start */
.testimonial {
  position: relative;
  width: 100%;
  padding: 50px 0 40px;
  margin: 45px 0;
  background: rgba(0, 0, 0, 0.04);
}

.testimonial .testimonials-carousel {
  position: relative;
  width: calc(100% + 30px);
  margin: 0 -15px;
}

.testimonial .testimonial-item {
  position: relative;
  margin: 15px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
  overflow: hidden;
}

.testimonial .testimonial-item:hover {
  box-shadow: none;
  transition: 0.4s ease;
  transform: scale(1.08);
}

.testimonial .testimonial-img {
  position: relative;
  width: 100px;
  border-radius: 100px;
  margin-bottom: 20px;
  overflow: hidden;
}

.testimonial .testimonial-img img {
  width: 100%;
  border-radius: 100px;
}

.testimonial .testimonial-item p {
  text-align: center;
  margin-bottom: 10px;
}

.testimonial .testimonial-item h2 {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 2px;
}

.testimonial .testimonial-item h3 {
  color: #999999;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.testimonial .owl-dots {
  margin-top: 10px;
  text-align: center;
}

.testimonial .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #fbaf32;
}

.testimonial .owl-dot.active {
  background: #719a0a;
}
/* Testimonial End */

/* Events Start */
.blog {
  position: relative;
  width: 100%;
  padding: 45px 0 0 0;
}

.blog .blog-item {
  position: relative;
}

.blog .blog-img {
  position: relative;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s ease;
}
.blog-img .event-img:hover {
  transition: 0.4s ease;
  transform: scale(1.08);
}

.test-img:hover {
  transition: 0.4s ease;
  transform: scale(1.08);
}

.blog .blog-img img {
  width: 100%;
}

.blog .blog-content {
  position: relative;
  width: calc(100% - 60px);
  top: -60px;
  left: 30px;
  padding: 25px 30px 30px 30px;
  background: #ffffff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  z-index: 2;
}

.blog .blog-content h2.blog-title {
  font-size: 22px;
  font-weight: 700;
}

.blog .blog-meta {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.blog .blog-meta p {
  margin: 0 10px 0 0;
  font-size: 14px;
  color: #999999;
}

.blog .blog-meta i {
  color: #fbaf32;
  margin-right: 5px;
}

.blog .blog-meta p:last-child {
  margin: 0;
}

.blog .blog-text {
  position: relative;
}

.blog .blog-text p {
  margin-bottom: 10px;
}

.blog .blog-item a.btn {
  margin-top: 10px;
  padding: 5px 15px;
}

.blog .pagination .page-link {
  color: #fbaf32;
  border-radius: 5px;
  border-color: #fbaf32;
  margin: 0 2px;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
  color: #ffffff;
  background: #fbaf32;
}

.blog .pagination .disabled .page-link {
  color: #999999;
}

@media (max-width: 575.98px) {
  .blog .blog-meta p {
    flex: 50%;
    font-size: 13px;
    margin: 0 0 5px 0;
  }
}
/* Events End */

/* Contact Start */
.contact {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.contact .contact-information {
  min-height: 150px;
  margin: 0 0 30px 0;
  padding: 30px 15px 0 15px;
  background: rgba(0, 0, 0, 0.04);
}

.contact .contact-info {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.contact .contact-icon {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbaf32;
  border-radius: 50px;
}
.contact .contact-icon:hover {
  background: #719a0a;
}

.contact .contact-icon i {
  font-size: 18px;
  color: #ffffff;
}

.contact .contact-text {
  position: relative;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  cursor: pointer;
}

.contact .contact-text h3 {
  font-size: 18px;
  font-weight: 700;
  color: #719a0a;
}

.contact .contact-text p {
  margin: 0;
  font-size: 16px;
  color: #454545;
}

.contact .contact-social a {
  margin-right: 10px;
  font-size: 18px;
  color: #fbaf32;
}

.contact .contact-social a:hover {
  color: #719a0a;
}

.contact .contact-form iframe {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  margin-bottom: 25px;
}

.contact .contact-form input {
  padding: 15px;
  background: none;
  border-radius: 5px;
  border: 1px solid #719a0a;
}
.contact .contact-form input:focus {
  border: 1px solid #fbaf32;
}

.contact .contact-form textarea {
  height: 150px;
  padding: 8px 15px;
  background: none;
  border-radius: 5px;
  border: 1px solid #719a0a;
}
.contact .contact-form textarea:focus {
  border: 1px solid #fbaf32;
}

.contact .help-block ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
/* Contact end */

/* Scroll Bar Start*/
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #aebb92;
}
/* Scroll Bar End */

.copyright {
  position: relative;
  display: block;
  background-color: #006633;
  color: #fff;
  padding: 25px 0 10px 0;
  z-index: 1;
}

.copyright .company-name {
  font-size: 16px;
  text-align: center;
}
.copyright .company-name a {
  font-size: 16px;
  text-decoration: none;
}

/*footer for all pages */
.copyright_pages {
  position: relative;
  display: block;
  background-color: #006633;
  color: #fff;
}
.copyright_pages .company-name {
  font-size: 16px;
  text-align: center;
}
.copyright_pages .company-name a {
  font-size: 16px;
  text-decoration: none;
}
/* footer for all pages end */

/* Success Stories Left side description start */
section {
  max-width: 1100px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.alumni-card {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.alumni-info {
  flex-grow: 1;
}

.alumni-info h2 {
  color: #719a0a;
}

.alumni-card img {
  max-width: 150px;
  max-height: 150px;
  margin-left: 20px;
  border-radius: 8px;
  float: right;
}

.alumni-success-description {
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .alumni-info .alumni-success-description {
    margin-top: 2rem;
  }
}
.alumni-success-description {
  text-align: left;
}
/* Success Stories Left side description End */

/* Success Stories page form */
#upload-container {
  display: flex;
  align-items: center;
}

#file-input {
  display: none;
}

#custom-label {
  cursor: pointer;
  padding: 10px;
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);
  color: #fff;
  border-radius: 5px;
}

#selected-image {
  max-width: 90px;
  max-height: 90px;
  margin-left: 50px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255);
  background-color: #fbaf32;
  border-radius: 5px;
  resize: vertical;
  outline: none;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 45px 10px 15px;
  overflow: auto;
  overflow-y: hidden;
}

textarea::placeholder {
  color: #fff;
}
/* Success Stories page form End */

/* Login Popup Screen */
.modal-dialog {
  width: 400px;
  margin: 12rem auto 0;
}
.modal {
  background: rgba(55, 55, 55, 0.6);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}
.modal-dialog {
  transform: scale(0.5);
}
.modal-dialog {
  transform: scale(1);
}
.modal-dialog .modal-content {
  text-align: left;
  border: none;
}

@media only screen and (max-width: 480px) {
  /* .modal-dialog {
    width: 5% !important;
  } */
  .modal-content .modal-body {
    padding: 60px 20px 40px !important;
  }
  .modal-body-job {
    padding: 20px !important;
  }
}
@media only screen and (min-width: 1024px) {
  /* .modal-dialog {
    width: 5% !important;
  } */
  .modal-content .modal-body {
    padding: 60px 20px 40px !important;
  }
  .modal-body-job {
    padding: 20px !important;
  }
}

/* login panda animation */
.container-panda {
  height: 31.25em;
  width: 31.25em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}
.form-panda {
  width: 23.75em;
  height: 18.75em;
  background-color: #ffffff;
  position: absolute;
  transform: translate(-50%, -50%);
  top: calc(50% + 3.1em);
  left: 50%;
  padding: 0 3.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0.5em;
}
.form-panda .form-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-color: #f4c531;
  outline: none;
  border-radius: 5px;
  padding: 0 10px 0 10px;
}

.form-panda label {
  display: block;
  margin-bottom: 0.2em;
  font-weight: 600;
  color: #2e0d30;
}
.form-panda input {
  font-size: 0.95em;
  font-weight: 400;
  color: #3f3554;
  padding: 0.3em;
  border: none;
  border-bottom: 0.12em solid #3f3554;
  outline: none;
}
.form-panda input:focus {
  border-color: #f4c531;
}
.form-panda input:not(:last-child) {
  margin-bottom: 0.9em;
}
.form-panda button {
  font-size: 0.95em;
  padding: 0.8em 0;
  border-radius: 2em;
  border: none;
  outline: none;
  background-color: #f4c531;
  color: #2e0d30;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.15em;
  margin-top: 0.8em;
  transition: all 0.6s ease 0s;
}

.form-panda button:hover {
  letter-spacing: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.panda-face {
  height: 7.5em;
  width: 8.4em;
  background-color: #ffffff;
  border: 0.18em solid #2e0d30;
  border-radius: 7.5em 7.5em 5.62em 5.62em;
  position: absolute;
  top: 2em;
  margin: auto;
  left: 0;
  right: 0;
}
.ear-l,
.ear-r {
  background-color: #3f3554;
  height: 2.5em;
  width: 2.81em;
  border: 0.18em solid #2e0d30;
  border-radius: 2.5em 2.5em 0 0;
  top: 1.75em;
  position: absolute;
}
.ear-l {
  transform: rotate(-38deg);
  left: 10.75em;
}
.ear-r {
  transform: rotate(38deg);
  right: 10.75em;
}
.blush-l,
.blush-r {
  background-color: #ff8bb1;
  height: 1em;
  width: 1.37em;
  border-radius: 50%;
  position: absolute;
  top: 4em;
}
.blush-l {
  transform: rotate(25deg);
  left: 1em;
}
.blush-r {
  transform: rotate(-25deg);
  right: 1em;
}
.eye-l,
.eye-r {
  background-color: #3f3554;
  height: 2.18em;
  width: 2em;
  border-radius: 2em;
  position: absolute;
  top: 2.18em;
}
.eye-l {
  left: 1.37em;
  transform: rotate(-20deg);
}
.eye-r {
  right: 1.37em;
  transform: rotate(20deg);
}
.eyeball-l,
.eyeball-r {
  height: 0.6em;
  width: 0.6em;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 0.6em;
  top: 0.6em;
  transition: 1s all;
}
.eyeball-l {
  transform: rotate(20deg);
}
.eyeball-r {
  transform: rotate(-20deg);
}
.nose {
  height: 1em;
  width: 1em;
  background-color: #3f3554;
  position: absolute;
  top: 4.37em;
  margin: auto;
  left: 0;
  right: 0;
  border-radius: 1.2em 0 0 0.25em;
  transform: rotate(45deg);
}
.nose:before {
  content: "";
  position: absolute;
  background-color: #3f3554;
  height: 0.6em;
  width: 0.1em;
  transform: rotate(-45deg);
  top: 0.75em;
  left: 1em;
}
.mouth,
.mouth:before {
  height: 0.75em;
  width: 0.93em;
  background-color: transparent;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0.18em #3f3554;
}
.mouth {
  top: 5.31em;
  left: 3.12em;
}
.mouth:before {
  content: "";
  position: absolute;
  left: 0.87em;
}
.hand-l,
.hand-r {
  background-color: #3f3554;
  height: 2.81em;
  width: 2.5em;
  border: 0.18em solid #2e0d30;
  border-radius: 0.6em 0.6em 2.18em 2.18em;
  transition: 1s all;
  position: absolute;
  top: 8.4em;
}
.hand-l {
  left: 7.5em;
}
.hand-r {
  right: 7.5em;
}
.paw-l,
.paw-r {
  background-color: #3f3554;
  height: 3.12em;
  width: 3.12em;
  border: 0.18em solid #2e0d30;
  border-radius: 2.5em 2.5em 1.2em 1.2em;
  position: absolute;
  top: 26.56em;
}
.paw-l {
  left: 10em;
}
.paw-r {
  right: 10em;
}
.paw-l:before,
.paw-r:before {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 1.37em;
  width: 1.75em;
  top: 1.12em;
  left: 0.55em;
  border-radius: 1.56em 1.56em 0.6em 0.6em;
}
.paw-l:after,
.paw-r:after {
  position: absolute;
  content: "";
  background-color: #ffffff;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  top: 0.31em;
  left: 1.12em;
  box-shadow: 0.87em 0.37em #ffffff, -0.87em 0.37em #ffffff;
}
@media screen and (max-width: 500px) {
  .container-panda {
    font-size: 14px;
  }
}
/* Panda Login End */

/* Jobs page */
.job .post-job-btn {
  margin-top: 2rem;
}

/* Alumni Jobs Section */
.jobs-list-container {
  max-width: 900px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}

.jobs-list-container h2 {
  margin-bottom: 3rem;
  font-size: 30px;
  border-left: 4px solid #fbaf32;
  color: #719a0a;
  padding-left: 20px;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.jobs-list-container .jobs img {
  width: 60px;
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -8px rgba(2, 48, 71, 0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions {
  position: absolute;
  top: 40px;
  right: 24px;
  color: #e63946;
}

.jobs-list-container .job-title {
  font-size: 20px;
  padding: 10px 0;
  margin: 0;
  color: #023047;
}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 1.8;
  flex: 1;
}

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #719a0a;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
  background: #719a0a;
  color: #fff;
}

.jobs-list-container .job-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}
/* Jobs Section End */

/* Student form */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
.sec-std-form {
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(-45deg, #fbaf32, #719a0a, #fbaf32, #719a0a);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.wrapper {
  max-width: 650px;
  width: 100%;
  background: white;
  margin: 0 auto;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 1em;
  border-width: 4px;
  border-style: solid;
  border-image: linear-gradient(to top left, #fe1e50 0%, #282881 100%) 1;
}

.wrapper .title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 25px;
  color: #fbaf32;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 200px;
  color: green;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea {
  width: 100%;
  outline: none;
  border: 1px solid #fbaf32;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea {
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select {
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: green transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #fbaf32;
  border-radius: 3px;
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus {
  border: 1px solid #719a0a;
}

.wrapper .form .inputfield p {
  font-size: 14px;
}

.wrapper .form .inputfield .check {
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.wrapper .form .inputfield .check input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.wrapper .form .inputfield .check .checkmark {
  width: 15px;
  height: 15px;
  border: 1px solid #719a0a;
  display: block;
  position: relative;
}

.wrapper .form .inputfield .check .checkmark:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark {
  background: yellowgreen;
}

.wrapper
  .form
  .inputfield
  .check
  input[type="checkbox"]:checked
  ~ .checkmark:before {
  display: block;
}

.wrapper .form .inputfield .btn {
  width: 40%;
  padding: 8px 10px;
  font-size: 15px;
  font-weight: bold;
  border: 0px;
  background: #719a0a;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover {
  background: #89ae2d;
}

.wrapper .form .inputfield:last-child {
  margin-bottom: 0;
}

@media (max-width: 420px) {
  .wrapper .form .inputfield {
    flex-direction: column;
    align-items: flex-start;
  }

  .wrapper .form .inputfield label {
    margin-bottom: 5px;
  }

  .wrapper .form .inputfield.terms {
    flex-direction: row;
  }

  #btn,
  #gender {
    flex-direction: row;
    align-items: flex-start;
  }
}

#radio {
  margin: 0 10px 0 40px;
  cursor: pointer;
}

#btn,
#phone-codes {
  display: flex;
  justify-content: space-evenly;
}

#phone-codes {
  width: 20%;
  height: 37px;
}

#phone-number {
  width: 100%;
}

#name {
  text-transform: capitalize;
}
#file-size {
  color: #fe1e50;
}
/* Student form End */

/* Job modal  */
.modal-header h5 {
  font-size: 2rem;
  color: red;
}
.modal-body-job h6 {
  color: #006633;
  font-weight: bolder;
}
.modal-body-job h6 span {
  color: black;
}
